body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

/* Le décor de fond */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 1cm); /* Laisse 1cm pour le sol */
    background-image: url('fond.jpg'); /* Votre image de paysage */
    background-repeat: repeat; /* Permet le défilement infini */
    background-size: cover;
    z-index: 1;
}

/* Le personnage */
#scene {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage parfait */
    width: 184px;
    height: 227px;
    z-index: 10;
}

#perso-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated; /* Pour un rendu net */
}

/* Le sol (le dernier cm) */
#sol {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1cm;
    background-color: #4a3728; /* Couleur terre par défaut */
    z-index: 5;
}